a {
    text-decoration: none;
}

span {
    display: auto;
}

body {
    text-align: center;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
}

.colored-section {
    background-color: aliceblue;
}

.white-section {
    background-color: white
}

.navbar {
    padding-bottom: 1rem;
    width: 80%;
    margin: auto;
    color: white;
}

/* Containers */

.container-fluid {
    padding: 1% 1%;
}

.navbar-brand {
    font-family: var(--brand-font);
    font-size: 2rem;
    font-weight: 700;
}

/* Heading */

.download-button {
    margin: 5% 3% 5% 0;
}

.btn-dark a{
    color: white;
}

.title-image {
    width: 50%
}

.heading {
    margin:auto
}

.big-heading {
    font-weight: 900;
    font-size: 3.5rem;
}

.big-heading span {
    color: blueviolet;
}

/* Features */

#features {
    margin-top: 4rem;
}

.cat-cards {
    padding: 3% 2%;
}

.card-header {
    padding: 0;
    background-color: white;
    height: 250px;
}

.card-header img {
    width: 100%;
    height: 100%;
    object-fit:cover;
}

/* Footer */

.social {
    padding: 0 .75rem 2rem;
    color: rgb(53, 53, 53);
}

.social:hover {
    color: var(--main-title-color);
}

#footer p {
    font-size: 0.90rem;

}
